# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_XSP_LEFT
    def_bool $(shields_list_contains,xsp_left)

config SHIELD_XSP_RIGHT
    def_bool $(shields_list_contains,xsp_right)
